<div class="container">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-5 text-center border p-2">
      <h4>家計簿</h4>
      <%= image_tag 'us50c_表.png', class: "footprint-img rounded-circle border", size: "100x100" %>
      <div class="row">
        <div class="col-sm-3">
          <div class="doropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
              ジャンル
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <% @genres.each do |genre| %>
                <li>
                  <a href="#" class="dropdown-item">
                    <%= link_to genre.name, root_path(:genre_id => genre.id) %>
                  </a>
                </li>
              <% end %>
            </ul>
          </div>
          <h6 class="m-1 border bg-info">
            <% if @genre == nil %>
              全て表示
            <% else %>
              <%= @genre.name %>
            <% end %>
          </h6>
        </div>
        <div class="col-sm-9">
          <div class="row">
            <% @categories.each do |category| %>
              <div class="col-sm-5 m-1">
                <div class="card">
                  <%= link_to new_users_detail_path(:category_id => category.id) do %>
                    <div class="card-body">
                      <div class="card-title fw-lighter"><%= category.name %></div>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="detail-list border">
        <h4>取引明細</h4>
        <table class="table w-auto table-sm text-xsmall">
          <thead>
            <tr class="text-center">
              <th>日　時</th>
              <th>カテゴリ</th>
              <th>金　額</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @details.each do |detail| %>
              <tr>
                <td><%= detail.day %></td>
                <td><%= detail.category.name %></td>
                <td class="text-end"><%= detail.coin.to_s(:delimited) %></td>
                <td><%= link_to "削除", users_detail_path(detail), method: :delete, class: "btn btn-danger btn-sm" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
