<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="progress-data border">
        <% if user_signed_in? %>
          <h4 class="m-2">使用可能残高</h4>
          <p class="countup text-end h1"><%= (Category.sum(:budget) - Genre.joins(categories: :details).sum(:coin)).to_s(:delimited) %>円</p>
          <canvas id="genre_graph"></canvas>
        <% else %>
          <h4 class="m-2">予算の多いジャンル</h4>
          <% @genres.each_with_index do |genre, i| %>
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td class="text-left"><%= i + 1 %>位</td>
                  <td class="text-left h5"><%= genre.name %></td>
                </tr>
              </tbody>
            </table>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-sm-5 text-center border">
      <h4 class="m-2">家計簿</h4>
      <%= image_tag 'us50c_表.png', class: "homepayment-img rounded-circle border", size: "100x100" %>
      <div class="row">
        <% if user_signed_in? %>
          <div class="col-sm-3">
            <div class="doropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                ジャンル
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <% @genres.each do |genre| %>
                  <li>
                    <a href="#" class="dropdown-item">
                      <%= link_to genre.name, root_path(:genre_id => genre.id) %>
                    </a>
                  </li>
                <% end %>
              </ul>
            </div>
            <h6 class="m-1 border bg-info">
              <% if @genre == nil %>
                全て表示
              <% else %>
                <%= @genre.name %>
              <% end %>
            </h6>
          </div>
          <div class="col-sm-9">
            <div class="row">
              <% @categories.each do |category| %>
                <div class="col-sm-5 m-1">
                  <div class="card">
                    <%= link_to new_users_detail_path(:category_id => category.id) do %>
                      <div class="card-body">
                        <div class="card-title fw-lighter"><%= category.name %></div>
                        <div class="card-main text-end">残<%= (category.budget - category.details.sum(:coin)).to_s(:delimited) %></div>
                      </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% else %>
          <% @categories.each do |category| %>
            <div class="card">
              <div class="card-body">
                <div class="card-title fw-lighter h5"><%= category.name %></div>
                <div class="card-main text-end h4"><%= category.budget.to_s(:delimited) %>円</div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="detail-list border">
        <% if user_signed_in? %>
          <h4 class="m-2">取引明細</h4>
          <table class="table w-auto table-sm text-xsmall">
            <thead>
              <tr class="text-center">
                <th class=>日　時</th>
                <th>カテゴリ</th>
                <th>金　額</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @details.each do |detail| %>
                <tr>
                  <td><%= detail.day %></td>
                  <td><%= detail.category.name %></td>
                  <td class="text-end"><%= detail.coin.to_s(:delimited) %></td>
                  <td><%= link_to "削除", users_detail_path(detail), method: :delete, class: "btn btn-danger btn-sm" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else%>
          <h4 class="m-2">明細金額MaxBest</h4>
          <table class="table w-auto table-sm text-xsmall">
            <thead>
              <tr class="text-center">
                <th class=>日　時</th>
                <th>カテゴリ</th>
                <th>金　額</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @details.each_with_index do |detail, i| %>
                <tr>
                  <td><%= detail.day %></td>
                  <td><%= detail.category.name %></td>
                  <td class="text-end"><%= detail.coin.to_s(:delimited) %></td>
                  <td><%= i + 1 %>位</td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="jquery-numerator.js"></script>
  <script>
    'use strict'
      // jQuery( function($) {
      //   $('.countup').numerator( {
      //     easing: 'linear', // アニメーションの動き
      //     duration: 3000, // アニメーションの時間
      //     toValue: 1000, // どこまでカウントアップするか
      //     delimiter: ',', // ３桁ごとに区切る値
      //     rounding: 0 // 小数点以下の桁数
      //   });
      // });


    // var ctx = document.getElementById("genre_graph");
    //   new Chart(ctx, {
    //     type: 'horizontalBar',
    //     data: {
    //       labels: gon.genre_name
    //       datasets: [{
    //         label: '分類毎消化率',
    //         backgroundColor: '#20B2AA',
    //         data: gon
    //       }]
    //     }
    //   });

    //   var options = {
    //       scales: {
    //           xAxes: [{
    //               ticks: {
    //                   min: 500000
    //               }
    //           }]
    //       }
    //   };
  </script>
</div>
