<div class="container">
  <div class="row">
    <h4>明　細</h4>
    <div class="detail-csv text-end m-1">
      <%= link_to "CSV出力", users_details_path(format: :csv), class: "btn btn-outline-success" %>
    </div>
    <div class="category-list">
      <table class="table table-striped">
        <thead>
          <tr class="text-center">
            <th>日　付</th>
            <th>カテゴリ</th>
            <th>金　額</th>
            <th>メ　モ</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @details.each do |detail| %>
            <tr>
              <td><%= detail.day %></td>
              <td><%= detail.category.name %></td>
              <td class="text-end"><%= detail.coin.to_s(:delimited) %></td>
              <td><%= detail.memo %></td>
              <td><%= link_to "訂正", edit_users_detail_path(detail), class: "btn btn-warning btn-sm" %></td>
              <td><%= link_to "削除", users_detail_path(detail), method: :delete, class: "btn btn-danger btn-sm" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
