<div class="container">
  <div class="row">
    <h4>カテゴリ訂正</h4>
    <div class="category-make">
      <%= form_with model: @category, url: admins_category_path(@category), local: true do |f| %>
        カテゴリ名：<%= f.text_field :name %>　
        分　類：<%= f.collection_select :genre_id, @genres, :id, :name %>　
        予　算：<%= f.text_field :budget, :size => "10" %>　
        メ　モ：<%= f.text_field :memo, :size => "30" %>　
        <%= f.submit "更新", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>
